@import compass/reset
@import compass/css3
@import blueprint/grid

// ------------------------------------------------------------
// layout

$blueprint_grid_columns: 24
$blueprint_grid_width: 20px
$blueprint-grid-margin: 20px

body
  padding: 0 0.5em
  font-family: sans-serif

ul, ol
  margin: 0.5em 0
  padding: 0 0 0 40px

ul
  list-style-type: disc

ol
  list-style-type: decimal

p
  margin: 0.5em 0

// ------------------------------------------------------------
// color

=notice-color
  color: #021324
  background-color: #ffed8b

=alert-color
  color: #021324
  background-color: #ffed8b

body
  background-color: #eeeeee
  width: 2000px

// ------------------------------------------------------------

#wall
  position: relative
  width: 100%
  height: 800px

  .card
    display: block
    position: absolute
    &.shadow
      +box-shadow(1px 1px 5px #444)
    &.selected
      .edit_card_form
        display: block
    .content
      cursor: pointer
  .content .text,
  .edit_card_form .text_edit
    white-space: pre-wrap
    overflow: hidden
    font-family: monospace
    padding: 5px
    font-size: 13px
  .edit_card_form
    +opacity(0.8)
    display: none
    z-index: 1000
    +box-shadow
    +border-radius
    color: #444
    background-color: white
    padding: 5px
    position: absolute
    left: 10px
    font-size: 10px
    .field
      display: table-row
      label, input
        display: table-cell
      label
        padding: 5px 0.5em
        vertical-align: top
        text-align: right
      &.x, &.y, &.z
        display: none
      .text_input
        width: 170px
    .instructions
      text-align: right

  #multi_edit_card_form
    position: absolute
    bottom: 5px
    right: 5px

.save_info
  padding: 5px 0
  height: 25px
  +clearfix
  .buttons
    float: left
    width: 400px
    margin-right: 20px
    input
      width: 100%
      background-color: #eee
      &.changed
        background-color: yellow
  .flash
    float: left
    width: 400px
    p
      margin: 0
      line-height: 22px
    .notice, .alert
      margin: 2px 0
      text-align: center
      font-size: 11px
      font-weight: bold
      +border-radius(5px)
    .notice
      +notice-color
    .alert
      +alert-color

header
  display: none

#wall
  border: 1px dashed #888
  border-width: 1px 0
