@import compass/reset
@import compass/css3
@import blueprint/grid

// ------------------------------------------------------------
// layout

$blueprint_grid_columns: 24
$blueprint_grid_width: 20px
$blueprint-grid-margin: 20px

body
  margin: 20px auto
  width: 940px

header, article, footer
  margin: 20px 0

ul, ol
  margin: 0.5em 0
  padding: 0 0 0 40px

ul
  list-style-type: disc

ol
  list-style-type: decimal

p
  margin: 0.5em 0

// ------------------------------------------------------------
// color

$default-fg: #444
$heading-fg: blue
$link-fg: $default-fg
$link-hover-fg: $heading-fg
$table-heading-fg: $default-fg
$table-heading-bg: #c4bcbc
$table-light-bg: #f4eeee
$table-dark-bg: #e4dddd
$highlight-fg: black
$highlight-bg: #f28c8c

=notice-color
  background-color: $table-heading-bg

=alert-color
  color: $highlight-fg
  background-color: $highlight-bg

=table-heading-color
  color: $table-heading-fg
  background-color: $table-heading-bg

// ------------------------------------------------------------
.wall
  #wall
    position: relative
    height: 400px
    border: 1px solid gray

    .card
      display: block
      position: absolute
      padding: 5px
      font-family: monospace
      cursor: pointer
      +box-shadow
      white-space: pre-line
      overflow: hidden

  .buttons
    text-align: right
    button
      width: 100px
      height: 50px

// ------------------------------------------------------------
.edit_card
  .field
    display: table-row
    label, input
      display: table-cell
      vertical-align: top
  textarea
    font-family: monospace
    padding: 5px

// ------------------------------------------------------------
.flash
  p
    margin: 0
    padding: 5px 1em

  .notice, .alert
    text-align: center
    font-size: 11px
    font-weight: bold
    +border-radius(5px)

  .notice
    +notice-color

  .alert
    +alert-color
